<!DOCTYPE html>
<html lang="en" class="no-js">
<head class="html5reset-kitchensink-clean">

	<meta charset="utf-8" />
	
	<title>{{site.name}}
		{% if page.title %}
		 : {{ page.title }}
		{% endif %}
   	</title>
   	
    {% if page.summary %}
    <meta namne="description" content="{{ page.summary }}" />
    {% endif %}
    	
	<meta name="google-site-verification" content="" />
	
	<link rel="shortcut icon" href="{{site.url}}/assets/img/favicon.png"/>
	<link rel="apple-touch-icon" href="{{site.url}}/assets/img/custom_icon.png"/>

	<link rel="stylesheet" href="{{site.url}}/assets/css/main.css" />
	<link rel="stylesheet" href="{{site.url}}/assets/css/print/main.css" media="print" />
	<link rel="stylesheet" href="{{site.url}}/assets/css/syntax.css"/>
	<link rel="stylesheet" href="{{site.url}}/assets/css/google-search.css"/>
	
	<!--[if IE]>
	<link rel="stylesheet" href="{{site.url}}/assets/css/patches/win-ie-all.css" />
	<![endif]-->
	<!--[if IE 7]>
	<link rel="stylesheet" href="{{site.url}}/assets/css/patches/win-ie7.css" />
	<![endif]-->
	<!--[if lt IE 7]>
	<link rel="stylesheet" href="{{site.url}}/assets/css/patches/win-ie-old.css" />
	<![endif]-->
	<!--[if lt IE 8]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js"></script>
	<![endif]-->
	
	<script src="{{site.url}}/assets/js/modernizr-1.5.min.js"></script>
</head>
<body id="www-domain-com">

	<header class="main">
		<h1 class="site-logo">{{site.name}}</h1>
	</header>
	<nav class="mod">
		<ul>
			<li><a href="{{site.url}}/" title="Home page.">Home</a></li>
		</ul>
	</nav>
	<div id="content">
		<div class="main-content" role="main">
		{{ content }}	
		</div>		
		<footer>

		</footer>
	</div>
	
<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="{{site.url}}/assets/js/functions.js"></script>	
  </body>
</html>